<!-- TODO: Check the below conversion, use git compare to see the difference-->
<div class="container flex flex-col w-full h-full min-w-full min-h-full box-border">
  <div class="header flex flex-row justify-between items-center box-border">
    <h1 i18n mat-dialog-title class="flex-[1_1_50%] box-border">Selecció d'hores</h1>
  </div>
  <div class="flex-[1_1_100%] box-border">
    <div class="flex flex-row flex-[1_1_100%] box-border">
      <!-- General Entity Data -->

      <div class="hourForm p-6 flex flex-col w-[30%] box-border">
        <form name="form" [formGroup]="timeForm" class="flex flex-col
        justify-start flex-[1_1_100%] box-border">
          <app-date-time-picker
            type="time"
            [control]="timeForm.get('from')"
            placeholder="Hora d'inici"
            i18n-placeholder
            formControlName="from">
          </app-date-time-picker>

          <app-date-time-picker
            type="time"
            [control]="timeForm.get('to')"
            placeholder="Hora d'fin"
            i18n-placeholder
            formControlName="to">
          </app-date-time-picker>

          <mat-checkbox i18n (change)="set24hours($event)" formControlName="allday"> Obert 24 hores</mat-checkbox>

          <div class="pt-4 flex flex-row justify-between items-center">
            <button mat-icon-button (click)="cancel()" [disabled]="timeForm.invalid">
              <mat-icon>close</mat-icon>
            </button>
            <button
              color="accent"
              mat-button
              mat-raised-button
              (click)="addHour()"
              [disabled]="!this.timeForm.value.from && !this.timeForm.value['allday']"
            >
              Afegir
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </form>
      </div>

      <div class="flex flex-col justify-between items-center w-[70%] box-border">
        <div class="table">
          <table mat-table class="list-table entity-table" [dataSource]="hours">
            <ng-container matColumnDef="timeframe" i18n-matColumnDef>
              <th i18n style="min-width: 150px" mat-header-cell *matHeaderCellDef>període de temps</th>
              <td mat-cell class="name-cell" *matCellDef="let hour">
                @if (hour.to) {
                  <span>
                    @if (hour.from == '00:00' && hour.to == '00:00') {
                      <span i18n>Obert 24 hores</span>
                    }
                    @if (hour.from != '00:00' || hour.to != '00:00') {
                      <span i18n>
                        {{ hour.from.startsWith('01') || hour.from.startsWith('11') ? "d'" : 'de ' }}{{ hour.from }}h a
                        {{ hour.to }}h
                      </span>
                    }
                  </span>
                }
                @if (!hour.to) {
                  <span i18n> a les {{ hour.from }}h </span>
                }
              </td>
            </ng-container>

            <ng-container matColumnDef="actions" i18n-matColumnDef>
              <th i18n style="width: 72px; text-align: center" mat-header-cell *matHeaderCellDef>Accions</th>
              <td mat-cell class="actions-cell text-right" *matCellDef="let hour; let first = first; let last = last">
                @if (!first) {
                  <button mat-icon-button (click)="moveUp(hour)">
                    <mat-icon
                      i18n
                      class="secondary-text"
                      title="Moure amunt"
                      i18n-title
                      aria-label="Moure amunt"
                      i18n-aria-label
                    >
                      keyboard_arrow_up
                    </mat-icon>
                  </button>
                }
                @if (!last) {
                  <button mat-icon-button (click)="moveDown(hour)">
                    <mat-icon
                      i18n
                      class="secondary-text"
                      title="Moure avall"
                      i18n-title
                      aria-label="Moure avall"
                      i18n-aria-label
                    >
                      keyboard_arrow_down
                    </mat-icon>
                  </button>
                }
                <button mat-icon-button (click)="remove(hour)">
                  <mat-icon
                    i18n
                    class="secondary-text"
                    title="Eliminar"
                    i18n-title
                    aria-label="Eliminar"
                    i18n-aria-label
                  >
                    delete
                  </mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>

        <div class="autoaliasbox flex flex-col">
          <form name="form" [formGroup]="form" class="h-50 flex flex-col justify-start p-6">
            <div class="flex flex-row justify-between items-center">
              <h3 i18n>Text automàtic</h3>
              <mat-slide-toggle i18n (change)="toggleAutoAlias()" class="pb-6 bg-white"
                                formControlName="custom_alias">
                Personalitzar
              </mat-slide-toggle>
            </div>
            @if (!form?.value['custom_alias']) {
              <div class="autoalias" [innerHTML]="auto_alias"></div>
            }

            @if (form.value['custom_alias']) {
              <quill-editor
                class="h-25 w-full"
                placeholder="Alias"
                i18n-placeholder
                formControlName="alias"
                [modules]="wysiwygConfig"
              >
              </quill-editor>
            }
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="actions justify-end items-center flex gap-[15px] box-border">
    <button i18n mat-button [mat-dialog-close]="false">Cancel·lar</button>
    <button
      i18n
      mat-button
      [disabled]="!timeForm['pristine'] || form.invalid"
      [mat-dialog-close]="closeDialog()"
      mat-raised-button
      color="accent"
    >
      Confirmar
    </button>
  </div>
</div>
