<div class="w-full flex flex-col justify-items-start">
  <div
    class="w-full label w-full flex flex-row items-center justify-start"
    *ngIf="labelName">
    {{ labelName }}
  </div>
  <div class="w-full w-full flex flex-row items-center justify-start">
    <ng-select
      class="custom-tags w-fullflex flex-row items-center justify-start"
      appendTo="body"
      bindLabel="name"
      bindValue="id"
      appearance="outline"
      (change)="setSelect($event)"
      [placeholder]="placeholder + (required ? ' *' : '')"
      [attr.required]="required"
      [items]="select$ | async"
      [multiple]="multiple"
      [hideSelected]="true"
      [readonly]="readonly"
      [closeOnSelect]="true"
      [maxSelectedItems]="maxSelectedItems"
      [loading]="selectLoading"
      [typeahead]="selectInput$"
      [addTag]="canCreate ? createNew : undefined"
      [ngClass]="{
        border: !!serverErrors,
        'border-red-500': !!serverErrors,
        'bg-white': bgWhite,
      }">
      <!-- [(ngModel)]="modelSelect" -->
      <!-- [disabled]="disabled" -->
      <ng-template
        ng-optgroup-tmp
        ng-option-tmp
        let-item="item">
        <span class="w-full flex flex-row items-center justify-start">
          <div>
            <ng-container *ngIf="allData && parent; else elseParent1">
              <span
                *ngIf="allData && item.is_active === true"
                class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-green-500"></span>
              <span
                *ngIf="allData && item.is_active === false"
                class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-red-600"></span>
              {{ item.name }}
              <div class="ml-3">
                <span class="mr-1 mt-1 inline-flex items-center rounded-md bg-gray-100 px-2 py-0 text-md font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                  {{ item[parent] }}
                  <span
                    *ngIf="plusParent"
                    class="ml-1"
                    >{{ item[plusParent] }}</span
                  >
                </span>
              </div>
            </ng-container>
            <ng-template #elseParent1>
              <span
                *ngIf="allData && item.is_active === true"
                class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-green-500"></span>
              <span
                *ngIf="allData && item.is_active === false"
                class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-red-600"></span>
              <span
                *ngIf="this.status"
                fxHide.md
                fxHide.sm
                [ngClass]="item.status | statusBadge"
                class="inline-flex items-center rounded-lg px-1 py-1 text-md font-semibold mr-1 mt-1">
                {{ this.status[item.status] }}
              </span>
              <!-- <span
                                *ngIf="this.status"
                                fxHide
                                fxShow.md
                                fxShow.sm
                                [ngClass]="item.status | statusBadge"
                                class="w-1.5 h-1.5 mr-2 inline-block rounded-full"
                            >
                            </span> -->
              <span>{{ item.name }}</span>
            </ng-template>
          </div>
          <!-- <button
                        mat-icon-button
                        class="inline-flex items-center pl-1 text-grey-400 bg-transparent"
                        *ngIf="canCreate"
                        (click)="!disabled ? deleteSelect(item) : ''"
                    >
                        <mat-icon
                            class="text-lg"
                            [matTooltip]="'Borrar elemento'"
                            >delete</mat-icon
                        >
                    </button> -->
        </span>
      </ng-template>
      <ng-template
        ng-label-tmp
        let-item="item"
        let-clear="clear"
        *ngIf="multiple">
        <span
          aria-label="Selecció àrea"
          class="mr-1 mt-1 inline-flex items-center rounded-md bg-gray-100 px-2 py-0 text-md font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
          <ng-container *ngIf="allData && parent; else elseParent2">
            <span
              *ngIf="allData && item.is_active === true"
              class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-green-500"></span>
            <span
              *ngIf="allData && item.is_active === false"
              class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-red-600"></span>
            {{ item.name }} [{{ item[parent] }}
            <span
              *ngIf="plusParent"
              class="ml-1"
              >{{ item[plusParent] }}</span
            >]
          </ng-container>
          <ng-template #elseParent2>
            <span
              *ngIf="allData && item.is_active === true"
              class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-green-500"></span>
            <span
              *ngIf="allData && item.is_active === false"
              class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-red-600"></span>
            <span>{{ item.name }}</span>
          </ng-template>
          <button
            mat-icon-button
            class="inline-flex items-center pl-1 text-grey-400 bg-transparent">
            <mat-icon
              class="text-lg"
              (click)="!disabled ? clearItem(item) : ''"
              [matTooltip]="'Borrar elemento'"
              >close</mat-icon
            >
          </button>
        </span>
      </ng-template>
      <ng-template
        ng-label-tmp
        ng-option-tmp
        let-item="item"
        *ngIf="!multiple">
        <ng-container *ngIf="allData && parent; else elseParent3">
          <span
            *ngIf="allData && item.is_active === true"
            class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-green-500"></span>
          <span
            *ngIf="allData && item.is_active === false"
            class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-red-600"></span>
          {{ item.name }} [{{ item[parent] }} <span *ngIf="plusParent">{{ item[plusParent] }}</span
          >]
        </ng-container>
        <ng-template #elseParent3>
          <span
            *ngIf="allData && item.is_active === true"
            class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-green-500"></span>
          <span
            *ngIf="allData && item.is_active === false"
            class="w-1.5 h-1.5 mr-2 inline-block rounded-full bg-red-600"></span>

          <span
            *ngIf="allData && this.status"
            fxHide.md
            fxHide.sm
            [ngClass]="item.status | statusBadge"
            class="inline-flex items-center rounded-lg px-1 py-1 text-md font-semibold mr-1">
            {{ this.status[item.status] }}
          </span>
          <!-- <span
                        *ngIf="this.status"
                        fxShow.md
                        fxShow.sm
                        fxHide.lg
                        [ngClass]="item.status | statusBadge"
                        class="w-1.5 h-1.5 mr-2 inline-block rounded-full"
                    >
                    </span> -->
          <span>{{ item.name }}</span>
        </ng-template>
      </ng-template>
    </ng-select>
  </div>
  <div
    class="text-red-500 text-sm font-medium m-0 p-0"
    *ngIf="serverErrors">
    {{ serverErrors }}
  </div>
</div>
