<div
  id="main"
  [ngClass]="folded ? 'main-folded' : 'main-unfolded'">
  @if (loading()){
    <div class="w-full min-h-[100vh] flex justify-center items-center">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <div>
      <app-global-spinner></app-global-spinner>
      <div class="mat-accent relative z-49 flex h-14 items-center shadow dark:border-b dark:bg-transparent dark:shadow-none px-2 print:hidden">
        <!-- Navigation toggle button -->
        <div class="text-white ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">
          <!-- <user></user> -->
        </div>
      </div>

      <div class="flex flex-row w-full min-h-[100vh]">
        @if (this._layoutService.getShowMenu()) {
          <fuse-vertical-navigation
            class="light bg-white print:hidden basis-1/5"
            [modeInput]="'side'"
            [nameInput]="'mainNavigation'"
            [navigation]="navigation"
            [appearanceInput]="'default'"
            [openedInput]="!isScreenSmall">
            <!-- Navigation header hook -->
            <ng-container fuseVerticalNavigationContentHeader>
              <!-- Logo -->
              <button
                class="m-2"
                (click)="toggleNavigation('mainNavigation')"
                mat-icon-button>
                <mat-icon
                  class="text-black"
                  [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
              </button>
            </ng-container>
            <ng-container fuseVerticalNavigationContentFooter *ngIf="user$ | async as user">
              <app-user-sidebar-snippet-component 
                (action)="onUserAction($event)"
                [user]="user"
              />
            </ng-container>
          </fuse-vertical-navigation>
        }
        <content class="basis-4/5"></content>
      </div>
    </div>
    }
</div>
