<mat-form-field [appearance]="appearance()">
  @if (label()){
    <mat-label>{{ label() }}</mat-label>
  }
  <input
    matInput
    [type]="type()"
    [formControl]="formControl"
    [placeholder]="placeholder()"
    [required]="required()"
    [attr.minlength]="minLength()"
    [attr.maxlength]="maxLength()"
  />
  @if (iconName()){
    <mat-icon matPrefix>{{ iconName() }}</mat-icon>
  }
  @if (hint()) {
    <mat-hint>{{ hint() }}</mat-hint>
  }
  <mat-error>{{ getErrorMessage() }}</mat-error>
</mat-form-field>