<div class="form-container">
    <form class="app-form" [formGroup]="departmentForm">
        
        <div class="form-field-group">
            <label for="nombre">Nombre del Departamento</label>
            <input 
                type="text" 
                id="nombre"
                placeholder="Ventas, Marketing, etc."
                formControlName="name">
            
                @if (formUtils.isNotValidField(departmentForm, "name")) {
                    <span class="error-message">
                        {{formUtils.getFieldError(departmentForm, "name")}}
                    </span>
                }
        </div>

        <div class="form-field-group">
            <label for="codigo">Código (Alfanumérico)</label>
            <input 
                type="text" 
                id="codigo"
                placeholder="Ej: VNT001"
                formControlName="code">
            
                @if (formUtils.isNotValidField(departmentForm, "code")) {
                    <span class="error-message">
                        {{formUtils.getFieldError(departmentForm, "code")}}
                    </span>
                }
        </div>
    </form>
</div>