@import 'src/@fuse/scss/partials/_page-layouts.scss';
//@use 'src/@fuse/scss/partials/page-layouts';
//@import "src/@fuse/scss/bcn";

:host {
  .folded:not(.unfolded) & {
    .navbar-vertical {
      .navbar-header {
        padding: 0;
        background: #cc0c2f;
        padding-left: 3px;

        .logo {
          .logo-icon {
            opacity: 0;
            display: none;

            &.logo-icon-folded {
              opacity: 1;
              display: block;
            }
          }
        }

        .toggle-sidebar-folded {
          display: none !important;
        }
      }
    }
  }

  &:not(.top-navbar) {
    height: 100%;
    overflow: hidden;
  }

  .navbar-vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgb(244, 246, 246);

    .navbar-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $carded-toolbar-height;
      min-height: $carded-toolbar-height;
      padding: 0 16px 0 0px;
      transition: padding 200ms ease;

      .logo {
        display: flex;
        align-items: flex-start;
        height: $carded-toolbar-height;

        .logo-icon {
          height: $carded-toolbar-height;
          max-width: none;

          &.logo-icon-folded {
            height: $carded-toolbar-height;
            display: none;
          }
        }
      }
    }

    .navbar-content {
      flex: 1 1 auto;
      //overflow-y: auto;
      padding-top: 15px;

      .openButton {
        padding: 0 11px;
      }
    }
  }
}
