//@import '@fuse/scss/theming';

a,
a:hover,
a:visited {
  color: rgba(0, 0, 0, 0.65);
}

app-bcn-error {
  //color: map-get($warn, 400);
  font-size: 14px;
}

::ng-deep {

  .timepicker-overlay {
    z-index: 10000000 !important;
  }

  .timepicker-backdrop-overlay {
    z-index: 10000000 !important;
  }
}
