<div class="flex items-end gap-4">
  <mat-form-field floatLabel="always" i18n-floatLabel>
    <mat-label>{{ placeholder() }}</mat-label>
    <input
      #matInput
      matInput
      [ngModel]="pretty_datetime"
      ngDefaultControl
      (change)="inputChange($event)"
      (focus)="inputFocus($event)"
      [disabled]="disabled"
    />
    <input
      type="hidden"
      [matDatepicker]="picker"
      (dateChange)="dateChange($event)"
      [value]="component_value"
      [min]="min()"
      [max]="max()"
    />
    <div matSuffix class="flex flex-row justify-start items-center">
      @if (pretty_datetime) {
        <a href="javascript:void(0)" (click)="delete()">
          <mat-icon class="text-[14px]">close</mat-icon>
        </a>
      }
      <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
    </div>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  @if (showTimePicker) {
    <mat-form-field floatLabel="always" class="min-w-[120px]">
      <mat-label>Hora</mat-label>
      <mat-select [(value)]="selectedTime" (selectionChange)="onTimeChange($event.value)">
        @for (time of timeOptions; track time) {
          <mat-option [value]="time">{{ time }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>

