<section>
    <h1>Departments</h1>
    <div class="flex justify-between items-center px-4">
        <form [formGroup]="searchForm" class="flex-1">
            <app-form-input-component 
                formControlName="search"
                label="Search department by name or code"
                [required]="false"
                type="text"
            />
        </form>
        @if (currentUser()?.roles?.includes('admin') || currentUser()?.roles?.includes('superuser')){
            <button mat-flat-button (click)="openAddDepDialog()">Add Department</button>
        }
    </div>
    <div [class.hidden]="loading$ | async">
        @if (totalDeps() === 0){
            <p class="text-center font-semibold">No departments found</p>
        } @else {
            <div class="grid grid-cols-1 p-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
                @for (department of departments(); track department.id){
                    <app-department-card-component 
                        (click)="getDepDetails(department.id)"
                        class="cursor-pointer"
                        [department]="department"
                        (action)="onDepCardAction($event)"
                        [currentUser]="currentUser()"
                    />
                }
            </div>
        }
    </div>
    <div [class.hidden]="!(loading$ | async)" class="p-8 bg-gray-50 min-h-screen">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            
            <div class="bg-white rounded-2xl shadow-sm border border-gray-100 overflow-hidden animate-pulse">
            <div class="p-8 flex flex-col items-center justify-center space-y-4">
                <div class="w-16 h-16 bg-blue-50 rounded-2xl"></div>
                
                <div class="h-5 bg-gray-200 rounded-full w-3/4"></div>
                
                <div class="h-4 bg-gray-100 rounded-full w-12"></div>
            </div>

            <div class="h-px bg-blue-500 w-full"></div>

            <div class="p-4 bg-gray-50/50 flex justify-center space-x-4">
                <div class="w-10 h-10 bg-orange-200 rounded-full"></div>
                <div class="w-10 h-10 bg-red-200 rounded-full"></div>
            </div>
            </div>
            <div class="hidden sm:block bg-white rounded-2xl shadow-sm border border-gray-100 overflow-hidden animate-pulse">
                <div class="p-8 flex flex-col items-center justify-center space-y-4">
                    <div class="w-16 h-16 bg-blue-50 rounded-2xl"></div>
                    <div class="h-5 bg-gray-200 rounded-full w-2/3"></div>
                    <div class="h-4 bg-gray-100 rounded-full w-10"></div>
                </div>
                <div class="h-px bg-blue-500 w-full"></div>
                <div class="p-4 bg-gray-50/50 flex justify-center space-x-4">
                    <div class="w-10 h-10 bg-orange-200 rounded-full"></div>
                    <div class="w-10 h-10 bg-red-200 rounded-full"></div>
                </div>
            </div>

            </div>
        </div>
</section>
