<div
  id="error-403"
  class="flex flex-col justify-center items-center">
  <div class="content flex flex-col justify-center items-center">
    <div class="icon">
      <mat-icon>error</mat-icon>
    </div>
    <div class="error-code">404</div>

    <div
      i18n
      class="message">
      No s'ha trobat la pàgina que cerqueu.
    </div>
    <div
      i18n
      class="message2">
      Si penseu que és error nostre, contacteu amb nosaltres.
    </div>

    <a
      i18n
      class="back-link"
      href="javascript:void(0)"
      (click)="goBack()">
      Tornar
    </a>
  </div>
</div>
