<div class="w-full flex justify-between items-center py-6 px-4 border rounded-md border-solid border-gray-500">
    <div>
        {{ generatedPassword() }}
    </div>
    <div class="flex justify-center items-center gap-2">
        <span (click)="generatePassword()" class="flex justify-center items-center p-1 border-0 rounded border-solid border-gray-300 cursor-pointer hover:bg-gray-200 transition duration-300 ease-in-out">
            <mat-icon>sync_lock</mat-icon>
        </span>
        <span (click)="copyPswToClipboard()" class="flex justify-center items-center p-1 border-0 rounded border-solid border-gray-300 cursor-pointer hover:bg-gray-200 transition duration-300 ease-in-out">
            <mat-icon>content_copy</mat-icon>
        </span>
    </div>
</div>