<div class="w-full mt-4">
  <div class="">
    <div class="flex gap-2 h-1.5">
      <div [class]="strength() >= 1 
        ? (strength() == 1 ? 'bg-red-500' : strength() == 2 ? 'bg-amber-400' : 'bg-emerald-500') 
        : 'bg-slate-200'" 
        class="flex-1 rounded-full transition-colors duration-300"></div>
      
      <div [class]="strength() >= 2 
        ? (strength() == 2 ? 'bg-amber-400' : 'bg-emerald-500') 
        : 'bg-slate-200'" 
        class="flex-1 rounded-full transition-colors duration-300"></div>
      
      <div [class]="strength() >= 3 ? 'bg-emerald-500' : 'bg-slate-200'" 
        class="flex-1 rounded-full transition-colors duration-300"></div>
      
      <div [class]="strength() >= 4 ? 'bg-emerald-600' : 'bg-slate-200'" 
        class="flex-1 rounded-full transition-colors duration-300"></div>
    </div>

    <div class="flex justify-between items-center">
      <span class="text-xs font-bold uppercase tracking-widest"
        [class]="strength() <= 1 ? 'text-red-500' : strength() == 2 ? 'text-amber-600' : 'text-emerald-600'" data-cy="psw-strength">
        {{ strengthText() }}
      </span>
      <span class="text-xs text-slate-400 font-medium">
        {{ password()?.length || 0 }} chars
      </span>
    </div>
  </div>
</div>