.container {
  max-height: 90vh;

  .header {
    //padding: 18px;
    background: #0097a7;

    h1 {
      color: white;
      margin: 0;
      font-weight: 500;
      font-size: 18px;
    }
  }

  .actions {
    padding: 18px;
    background: #ddd;
  }
}
