<div class="container flex flex-col">
  <div class="header flex flex-row justify-between items-center box-border">
    <h1 i18n mat-dialog-title class="flex-[1_1_50%] box-border">Preus</h1>
  </div>
  <div class="content p-6">
    <form class="priceForm flex flex-col justify-start w-full box-border" name="form" [formGroup]="form">
      <div class="flex flex-row gap-[30px] w-full justify-between box-border">
        <mat-form-field class="flex w-[45%] box-border">
          <mat-label i18n>Preu mínim</mat-label>
          <input matInput formControlName="minPrice" type="number" />
        </mat-form-field>
        <mat-form-field class="flex w-[45%] box-border">
          <mat-label i18n>Preu màxim</mat-label>
          <input matInput formControlName="maxPrice" type="number" />
        </mat-form-field>
      </div>

      <quill-editor
        placeholder="Escriu aquí la informació sobre preus..."
        i18n-placeholder
        [styles]="{ width: '100%', maxHeight: '200px' }"
        formControlName="alias"
        [modules]="wysiwygConfig"
      ></quill-editor>
    </form>
  </div>

  <div class="actions justify-end items-center flex gap-[15px] flex-[1_1_70px] box-border">
    <button i18n mat-button [mat-dialog-close]="false">Cancel·lar</button>
    <button
      i18n
      mat-button
      [disabled]="form.invalid || !isFormFilled()"
      (click)="closeDialog()"
      mat-raised-button
      color="accent"
    >
      Confirmar
    </button>
  </div>
</div>
