
<div class="flex justify-center items-center w-full"> 


    @if (userResource.isLoading()) {
        <mat-progress-spinner
            [diameter]="24"
            mode="indeterminate"
            color="primary">
        </mat-progress-spinner>
    }

    @if (userResource.error()) {
        <div class="text-red-600 mt-4">
            Error al cargar el perfil. Pruebe de nuevo más tarde
        </div>
    }


    @if (userResource.hasValue()) {
        <profile-card 
        [user]="userResource.value()"
        ></profile-card>
    }
</div>
