<div>
<mat-tab-group>
  <mat-tab label="General">
    <div class="p-6 grid grid-cols-1 sm:grid-cols-2 gap-y-6 gap-x-8">
        <div class="flex flex-col gap-1">
            <span class="font-bold uppercase tracking-wider text-slate-500">Username</span>
            <p class="font-medium text-slate-900 py-2 bg-slate-50 px-3 rounded-lg ring-1 ring-inset ring-slate-200">
                {{ user().username }}
            </p>
        </div>

        <div class="flex flex-col gap-1">
            <span class="font-bold uppercase tracking-wider text-slate-500">Email Address</span>
            <p class="font-medium text-slate-900 py-2 bg-slate-50 px-3 rounded-lg ring-1 ring-inset ring-slate-200">
                {{ user().email }}
            </p>
        </div>

        <div class="flex flex-col gap-1">
            <span class="font-bold uppercase tracking-wider text-slate-500">First Name</span>
            <p class="font-medium text-slate-900 py-2 bg-slate-50 px-3 rounded-lg ring-1 ring-inset ring-slate-200">
                {{ user().first_name }}
            </p>
        </div>
        <div class="flex flex-col gap-1">
            <span class="font-bold uppercase tracking-wider text-slate-500">Last Name</span>
            <p class="font-medium text-slate-900 py-2 bg-slate-50 px-3 rounded-lg ring-1 ring-inset ring-slate-200">
                {{ user().last_name }}
            </p>
        </div>
        <div class="sm:col-span-2 flex flex-col gap-3 pt-2">
            <span class="font-bold uppercase tracking-wider text-slate-500">Assigned Roles</span>
            <div class="flex flex-wrap gap-2">
                @for (role of user().roles; track role){
                    <span class="inline-flex items-center rounded-full bg-blue-50 px-3 py-1 font-semibold text-blue-700 ring-1 ring-inset ring-blue-700/10">
                        {{ role | titlecase }} 
                    </span>
                }
            </div>
        </div>
    </div>
  </mat-tab>
  <mat-tab label="Department"> Content 2 </mat-tab>
  <mat-tab label="Status"> Content 3 </mat-tab>
</mat-tab-group>
</div>
