.header {
  padding: 18px;
  background: #0097a7;
  color: white;

  h1 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
  }
}

.container {
}

.actions {
  padding: 18px;
  background: #ddd;
}

.autoalias {
  padding: 5px 0 20px 0;
  font-size: 17px;
  color: #777;
}
