@if (sidebarService.changeCurrent() | async; as sidebarElement) {
  <div>
    @if (sidebarElement != null) {
      <div class="content">
        <div class="toolbar">
          <div class="flex flex-row justify-between items-center flex-[1_1_100%] box-border">
            @if (sidebarService.size === "small") {
              <button mat-icon-button>
                <mat-icon
                  i18n
                  class="secondary-text"
                  title="Expandir el sidebar"
                  i18n-title
                  aria-label="Expandir el sidebar"
                  i18n-aria-label
                  (click)="sidebarService.size = 'big'; folded = false">
                  chevron_left
                </mat-icon>
              </button>
            }
            @if (sidebarService.size === "big") {
              <button mat-icon-button>
                <mat-icon
                  i18n
                  class="secondary-text"
                  title="Contraure el sidebar"
                  i18n-title
                  aria-label="Contraure el sidebar"
                  i18n-aria-label
                  (click)="sidebarService.size = 'small'; folded = false">
                  chevron_right
                </mat-icon>
              </button>
            }
            @if (sidebarService.length() > 1) {
              <button mat-icon-button>
                <mat-icon
                  i18n
                  class="secondary-text"
                  title="Tancar aquest element"
                  i18n-title
                  aria-label="Tancar aquest element"
                  i18n-aria-label
                  (click)="sidebarService.pop()">
                  undo
                </mat-icon>
              </button>
            }
            <button mat-icon-button>
              <mat-icon
                i18n
                class="secondary-text"
                title="Anar a la vista detall"
                i18n-title
                aria-label="Anar a la vista detall"
                i18n-aria-label
                [routerLink]="[sidebarElement.url]">
                settings_overscan
              </mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon
                i18n
                class="secondary-text"
                title="Tanca la barra lateral"
                i18n-title
                aria-label="Tanca la barra lateral"
                i18n-aria-label
                (click)="sidebarService.close()">
                close
              </mat-icon>
            </button>
          </div>
          <!--          <div>-->

          <!--          </div>-->
        </div>
        <!-- @if (sidebarElement.type === 'entity') {
          <div>
            <app-entity-global-sidebar [entity]="sidebarElement.element"> </app-entity-global-sidebar>
          </div>
        }
        @if (sidebarElement.type === 'enrichments') {
          <div>
            <app-enrichments-global-sidebar [entity]="sidebarElement.element"></app-enrichments-global-sidebar>
          </div>
        } -->
      </div>
    }
  </div>
}
