<mat-form-field>
    <mat-label>{{ label() }}</mat-label>
    @if (searchable()){
    <input type="text"
      matInput
      [formControl]="formControl"
      [placeholder]="placeholder() ?? 'Pick One'"
      [matAutocomplete]="auto"
    >
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith.bind(this)">
      @for (option of filteredOptions | async; track option.id || option) {
        <mat-option [value]="option.id ? option.id : option.toLowerCase()">
          {{ option.name || option }}
        </mat-option>
      }
    </mat-autocomplete>
  } @else {
    <mat-select [formControl]="formControl" [placeholder]="placeholder() ?? 'Pick One'">
      @for (option of filteredOptions | async; track option.id || option) {
        <mat-option [value]="option.id ? option.id : option.toLowerCase()">
          {{ option.name || option }}
        </mat-option>
      }
    </mat-select>
    }
  </mat-form-field>