<mat-form-field [appearance]="appearance()" class="w-full py-1 px-2">
    <mat-label>{{ label() }}</mat-label>
    @if (searchable()){
    <input type="text"
      matInput
      [formControl]="formControl"
      [placeholder]="placeholder() ?? 'Pick One'"
      [matAutocomplete]="auto"
      [attr.data-cy]="dataCy()"
    >
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
      @for (option of filteredOptions | async; track option.value) {
        <mat-option [value]="option.value">
          {{ option.label }}
        </mat-option>
      }
    </mat-autocomplete>
  } @else {
      <mat-select [formControl]="formControl" [placeholder]="placeholder() ?? 'Pick One'" [attr.data-cy]="dataCy()">
          @for (option of options(); track option.value) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
    }
    <mat-error>{{ getErrorMessage() }}</mat-error>
  </mat-form-field>