<mat-form-field [appearance]="appearance()" class="w-full py-1 px-2">
    <mat-label>{{ label() }}</mat-label>
    @if (searchable()){
    <input type="text"
      matInput
      [formControl]="formControl"
      [placeholder]="placeholder() ?? 'Pick One'"
      [matAutocomplete]="auto"
    >
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
      @for (option of filteredOptions | async; track option.value) {
        <mat-option [value]="option.value">
          {{ option.label }}
        </mat-option>
      }
    </mat-autocomplete>
  } @else {
    @if (formControl && options()) {
        <mat-select [formControl]="formControl" [placeholder]="placeholder() ?? 'Pick One'">
            @for (option of options(); track option.value) {
            <mat-option [value]="option.value">
              {{ option.label }}
            </mat-option>
          }
        </mat-select>
      }
    }
  </mat-form-field>