@if (!displayTitle()) {
  <button
    mat-icon-button
    style="height: 50px; width: 50px"
    (click)="openTranslationDialog()"
    title="Traduccions"
    i18n-title
  >
    @if (this.n_langs != 0) {
      <mat-grid-list [cols]="4">
        <mat-grid-tile colspan="2" rowspan="2">
          <i i18n class="material-icons">translate</i>
        </mat-grid-tile>
        @if (this.translations.es) {
          <mat-grid-tile colspan="1">
            <span class="flag-icon flag-icon-es" [class.bw]="this.translations.es.status != 'done'"> </span>
          </mat-grid-tile>
        }
        @if (this.translations.ca) {
          <mat-grid-tile colspan="1">
            <span class="flag-icon flag-icon-es-ct" [class.bw]="this.translations.ca.status != 'done'"> </span>
          </mat-grid-tile>
        }
        @if (this.translations.fr) {
          <mat-grid-tile colspan="1">
            <span class="flag-icon flag-icon-fr" [class.bw]="this.translations.fr.status != 'done'"> </span>
          </mat-grid-tile>
        }
        @if (this.translations.en) {
          <mat-grid-tile colspan="1">
            <span class="flag-icon flag-icon-gb" [class.bw]="this.translations.en.status != 'done'"> </span>
          </mat-grid-tile>
        }
      </mat-grid-list>
    } @else {
      <i i18n class="material-icons">translate</i>
    }
  </button>
}

@if (displayTitle()) {
  <button (click)="openTranslationDialog()" title="Traduccions" i18n-title>
    <i i18n class="mr-4 material-icons"> translate</i>Traduccions
  </button>
}
