<div>
  <div class="title_container flex flex-row justify-start items-center gap-[30px]">
    <h1 i18n>{{ data.title }}</h1>
  </div>
  <div class="flex flex-col justify-start items-center gap-[30px]">
    <div class="container flex flex-col justify-start items-center">
      <span id="number">{{ seconds }}</span>
      <span i18n id="label">segons</span>
    </div>
    <span>{{ data.text }}</span>
    <button i18n mat-button [mat-dialog-close]="false" mat-raised-button color="accent">Segueixo aquí</button>
  </div>
</div>
