<button mat-button style="min-width: auto; padding: 0 5px" [matMenuTriggerFor]="orderingMenu" title="Ordre" i18n-title>
  @if (!selected) {
    <mat-icon>sort_by_alpha</mat-icon>
  }
  @if (selected && order == 'asc') {
    <mat-icon>keyboard_arrow_down</mat-icon>
  }
  @if (selected && order == 'desc') {
    <mat-icon>keyboard_arrow_up</mat-icon>
  }
  {{ selected }}
</button>
<mat-menu #orderingMenu="matMenu">
  @for (method of orderingMethods(); track method) {
    <button
      mat-menu-item
      (click)="ordering(method)"
      [ngClass]="{
        'ordering-selected': [method.field, '-' + method.field].includes(formServices()[0].form.value['ordering']),
      }"
    >
      @if (formServices()[0].form.value['ordering'] != method.field) {
        <mat-icon>keyboard_arrow_down</mat-icon>
      }
      @if (formServices()[0].form.value['ordering'] == method.field) {
        <mat-icon>keyboard_arrow_up</mat-icon>
      }
      {{ method.name }}
    </button>
  }
</mat-menu>
