
mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 24px;
}

.icon{
    font-size: 72px;
    width: 72px;
    height: 72px;
    margin-bottom: 16px;
}

.success-icon {
    color: #4CAF50;
}

.error-icon {
    color: #f44336;
}

p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
}
