.btn{
    cursor: pointer;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
}

.btn-primary {
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
    color: white;
}

.btn-primary:hover {
     background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}