<div [matMenuTriggerFor]="userMenu" class="flex items-center justify-between p-2 m-2 rounded-xl bg-white border border-gray-200 shadow-sm hover:shadow-md hover:bg-gray-50 transition-all duration-200 group cursor-pointer">
  <div class="flex items-center gap-2">
    <div class="relative h-10 w-10 overflow-hidden rounded-lg shadow-inner bg-gray-100">
      <img 
        src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?auto=format&fit=crop&w=100&q=80" 
        alt="User avatar"
        class="h-full w-full object-cover"
      />
    </div>
    @if (fullSnippet()){
      <div class="flex flex-col overflow-hidden">
        <span class="text-sm font-semibold truncate">
          {{ user().fullName }}
        </span>
        <span class="text-xs truncate">
          {{ user().email }}
        </span>
      </div>
      }
  </div>

  <div class="rounded-full text-gray-400 hover:text-gray-600">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
    </svg>
  </div>
    
</div>
<mat-menu #userMenu="matMenu" yPosition="above">
  <button mat-menu-item (click)="onAction('account')">
    <mat-icon>person</mat-icon>
    <span>Account</span>
  </button>
  <button mat-menu-item (click)="onAction('logout')">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
