<!-- Cell content-->
@if (text()) {
  <div class="text" [ngClass]="role()">
    @if (!isFirstLink()) {
      <div class="text-center">
        @if (isBelow()) {
          <mat-icon i18n class="iconLink">vertical_align_bottom</mat-icon>
        }
      </div>
    }
    @if (isFirstLink() || !isBelow()) {
      <span [class.isBelow]="!isFirstLink() && !isBelow()" [innerHTML]="text()"></span>
    }
    @if (isFirstLink() || !isBelow()) {
      <span [class.isBelow]="!isFirstLink() && !isBelow()" class="subtext" [innerHTML]="subtext()"></span>
    }
  </div>
} @else {
  <div class="error">
    <mat-icon>error_outline</mat-icon>
  </div>
}

<!-- Error display -->

<!-- Actions (displayed on hover) -->
<div class="actions" [class.up]="hoverUp" [class.down]="hoverDown">
  <div class="flex flex-col">
    @if (!enableEdit()) {
      <!-- TODO: Check the below conversion, use git compare to see the difference-->
      <div i18n class="info flex flex-col flex-[1_1_100%] box-border w-full h-full min-w-full min-h-full">
        Afegeix un dia per editar aquesta cel·la
      </div>
    }

    <!-- Upper buttons-->
    @if (enableEdit() && ['period', 'day', 'hour'].includes(role())) {
      <div class="upbuttons flex flex-row justify-between items-start">
        <button mat-icon-button (click)="onAddUp()" (mousemove)="upEnter()" (mouseleave)="upLeave()">
          <mat-icon i18n class="secondary-text" title="Afegir dalt" i18n-title aria-label="Afegir dalt" i18n-aria-label
            >add
          </mat-icon>
        </button>
        @if (!first()) {
          <button mat-icon-button (click)="onMoveUp()" (mousemove)="upEnter()" (mouseleave)="upLeave()">
            <mat-icon i18n class="secondary-text" title="Moure dalt" i18n-title aria-label="Moure dalt" i18n-aria-label
              >keyboard_arrow_up
            </mat-icon>
          </button>
        }
      </div>
    }

    <!-- Middle buttons -->
    <div class="flex flex-row justify-start items-center flex-[1_1_100%] box-border">
      @if (['period', 'day', 'hour'].includes(role()) && !(first() && last() && !text())) {
        <button mat-icon-button (click)="onRemove()" (mousemove)="deleteEnter()" (mouseleave)="deleteLeave()">
          <mat-icon
            i18n
            class="secondary-text"
            title="Eliminar fila"
            i18n-title
            aria-label="Eliminar fila"
            i18n-aria-label
            >remove
          </mat-icon>
        </button>
      }

      <div
        [class.pr-40]="['period', 'day', 'hour'].includes(role()) && !(first() && last() && !text())"
        class="justify-center items-center flex flex-[1_1_100%] box-border"
      >
        @if (isFirstLink() && enableEdit()) {
          <button mat-icon-button (click)="onEdit()">
            <mat-icon i18n class="secondary-text" title="editar" i18n-title aria-label="editar" i18n-aria-label
              >edit
            </mat-icon>
          </button>
        }

        @if (enableLink() && enableEdit() && !text() && (linksData() | json) !== '{}') {
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon i18n class="secondary-text" title="enllaçar" i18n-title aria-label="enllaçar" i18n-aria-label
              >link
            </mat-icon>
          </button>
        }
        <mat-menu #menu="matMenu">
          @for (link of linksData() | keyvalue; track link) {
            <button (click)="onLinkElement(link)" mat-menu-item>
              @if (link.value) {
                <span
                  class="text"
                  [innerHTML]="link.value['alias'] || link.value['auto_alias'] || link.value['text'] | striptags"
                  [title]="link.value['alias'] || link.value['auto_alias'] || link.value['text'] | striptags"
                ></span>
              }
            </button>
          }
        </mat-menu>

        @if (['period', 'day', 'hour', 'price', 'comment'].includes(role()) && text()) {
          <button mat-icon-button (click)="onUnlink()">
            @if (!isFirstLink()) {
              <mat-icon
                i18n
                class="secondary-text"
                title="desenllaçar"
                i18n-title
                aria-label="desenllaçar"
                i18n-aria-label
                >link_off
              </mat-icon>
            }
            @if (isFirstLink()) {
              <mat-icon i18n class="secondary-text" title="eliminar" i18n-title aria-label="eliminar" i18n-aria-label>
                delete
              </mat-icon>
            }
          </button>
        }

        @if (role() === 'period') {
          <button mat-icon-button (click)="onClone()">
            <mat-icon
              i18n
              class="secondary-text"
              title="duplicar fila"
              i18n-title
              aria-label="duplicar fila"
              i18n-aria-label
              >wrap_text
            </mat-icon>
          </button>
        }
      </div>
    </div>

    <!-- Lower buttons -->
    @if (enableEdit() && ['period', 'day', 'hour'].includes(role())) {
      <div class="downbuttons flex flex-row justify-between items-start">
        <button mat-icon-button (click)="onAddDown()" (mousemove)="downEnter()" (mouseleave)="downLeave()">
          <mat-icon
            i18n
            class="secondary-text"
            title="Afegir abaix"
            i18n-title
            aria-label="Afegir abaix"
            i18n-aria-label
            >add
          </mat-icon>
        </button>
        @if (!last()) {
          <button mat-icon-button (click)="onMoveDown()" (mousemove)="downEnter()" (mouseleave)="downLeave()">
            <mat-icon
              i18n
              class="secondary-text"
              title="Moure abaix"
              i18n-title
              aria-label="Moure abaix"
              i18n-aria-label
              >keyboard_arrow_down
            </mat-icon>
          </button>
        }
      </div>
    }
  </div>
</div>
